/backend/Livraria/.vs
/backend/Livraria/obj
/backend/.vs
/backend/src/LivrariaSolution/.vs
/backend/src/LivrariaSolution/Livraria.Application/obj
/backend/src/LivrariaSolution/Livraria.Infrastructure/obj
/backend/src/LivrariaSolution/Livraria/obj
/backend/src/LivrariaSolution/LivrariaDomain/obj
/backend/src/LivrariaSolution/Livraria.Application/bin
/backend/src/LivrariaSolution/Livraria.Infrastructure/bin
/backend/src/LivrariaSolution/Livraria/bin
/backend/src/LivrariaSolution/LivrariaDomain/bin
backend/src/LivrariaSolution/Livraria/logs/app-log.txt
/frontend/.vscode
